@charset "utf-8";
h1 {
  text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
h2 {
	text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
h3 {
	text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
div {
	padding:15px;
}
#Message {
	background-color:#00ff00;
	border: solid #ffff00;
	border-width:10px;
	position:absolute;
	left:150px;
	top:50px;
	z-index:10;
}
#whoshere {
	position:absolute;
	left: 775px;
	top:10px;
	width: 185px;
	border: solid;
	border-width: 0;
	border-left: 1;
	background-color: #a9fc9a;
	z-index:1;
}
#navbar {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 185px;
	background-color: #a9fc9a;
	z-index:1;
}
#content {
	position: absolute;
	top: 10px;
	left: 235px;
	width: 500px;
	background-color: #99fdd8;
	z-index:1;
}
#conversation {
	position: absolute;
	padding-bottom: 0px;
	left: 235px;
	top: 115px;
	width: 500px;
	background-color: #99fdd8;
	vertical-align: bottom;
	z-index:1;
}
#TalkBox {
	width: 85%;
	position: relative;
	left: 30px;
	z-index:1;
}
#TalkButton {
	position: relative;
	left: 30px;
}
#Register {
	position: absolute;
	background-color: #c0c0c0;
	left: 5px;
	top: 5px;
	width: 90%;
	z-index:5;
}
#Important {
	position: absolute;
	background-color: #c0c0c0;
	left: 5px;
	top: 5px;
	width: 90%;
	z-index:20;
}
#updateChar {
	display:none;
}
#SpendType {
	text-align: center;
}
#SpendReview {
	display:none;
}
#SpendUpgrade {
	display:none;
}
#SpendBuyNew {
	display:none;
}
.GM_Button {
	float:left;
	margin-left: 0px;
	width:60px;
	height:8px;
}
.comment {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	border-top-width:1px;
	border-top-style:solid;
	border-color:#c0c0c0;
}
.attrib {
	display:block;
	margin-bottom: 5px;
}
.collapse {
	display:none;
}
.more {
	display: inline;
}
.less {
	display: none;
}
.hidden {
	display:none;
}
