@charset "utf-8";
h1 {
	text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
h2 {
	text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
h3 {
	text-align: center;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
}
div {
	padding:15px;
}
table {
	text-align: left;
}
.important {
	background-color:#00ff00;
	border: solid #ffff00;
	border-width:10px;
	position:absolute;
	left:150px;
	z-index:20;
}
.whoishere {
	position:absolute;
	left: 775px;
	top:10px;
	width: 185px;
	border: solid;
	border-width: 0;
	border-left: 1px;
	background-color: #a9fc9a;
	z-index:1;
	text-align: center;
}
.navbar {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 185px;
	background-color: #a9fc9a;
	z-index:1;
}
.content {
	position: absolute;
	top: 10px;
	left: 235px;
	width: 500px;
	background-color: #99fdd8;
	z-index:1;
}
.conversation {
	position: absolute;
	padding-bottom: 0;
	left: 235px;
	top: 115px;
	width: 500px;
	background-color: #99fdd8;
	vertical-align: bottom;
	z-index:1;
}
.TalkBox {
	width: 85%;
	position: relative;
	left: 30px;
	z-index:1;
}
.TalkButton {
	position: relative;
	left: 30px;
}
.register {
	position: absolute;
	background-color: #c0c0c0;
	left: 5px;
	top: 5px;
	width: 90%;
	z-index:5;
}

.selectIt {
	text-align: center;
}
.spend {
	display:none;
}
.GM_Button {
	float:left;
	margin-left: 0;
	width:60px;
	height:10px;
}
.comment {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0;
	border-top-width:1px;
	border-top-style:solid;
	border-color:#c0c0c0;
}
.attrib {
	display:block;
	margin-bottom: 5px;
}
.collapse {
	display:none;
}
.more {
	display: inline;
}
.less {
	display: none;
}
.hidden {
	display:none;
}
